---
---

:root {--link-color: #8df; --hover-link-color: #8bf;}

#header nav li a {background: linear-gradient(#b00d0e, #8e0b0b); background-color: #b00d0e; border: 1px solid #7e090a;
                  float: left; margin-left: 6px;}
#header nav li a:hover {background: linear-gradient(#7e090a, #580707); background-color: #7e090a; border: 1px solid #420505;}

section #title {margin-bottom: 1em;}
#header_image {width: 100%; text-align: center;}
#header_image img {max-height: 10em;}
#header_image canvas {width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1;}

h1 {font-size: 32px;}
a {color: var(--link-color, #8df);}
a:hover {color: var(--hover-link-color, #8bf);}
blockquote {border-left-color: #d33;}
ul {list-style-type: disc; list-style-image: none;}
ul ul {margin-bottom: 0;}

figure {text-align: center; margin-bottom: 1em;}
figcaption {color: #d4d4d4; font-style: italic;}
figure img, figure video, figure audio {max-width: 100%;}

@media screen and (min-width: 700px) {
	.app .wrapper {max-width: 90%;}
	.app section {max-width: none;}
}

#toc.empty {display: none;}
#toc {border: 1px solid var(--link-color, #8df); padding: 0.5em; margin-bottom: 1em; display: table;} /* max-width: 300px; */
#toc ol {margin-bottom: 0; padding-left: 2em;}
#toc > ol {padding-right: 2em;}
#tocheader {text-align: center; font-weight: bold;}

@import "{{ site.theme }}";
